* {
  box-sizing: border-box;
}

html {
  height: 100%;

  body {
    height: 100%;
    font-family: Helvetica, "Microsoft YaHei", "微软雅黑", sans-serif;
    font-size: $fontSize;
    color: $colorText;
  }

  #__nuxt {
    position: relative;
    height: 100%;
    overflow: auto;
  }
}
